<%- include('../header') %>
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">Extracategory Information</h4>

                    <div class="ml-auto text-right">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Library</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <form class="form-horizontal" action="/extracategory/add-extracategory" method="post">
                            <div class="card-body">
                                <h4 class="card-title">Extracategory Info</h4>
                                <div class="form-group row">
                                    <label for="fname" class="col-sm-3 text-right control-label col-form-label">Category
                                        Name</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" id="categoryId" name="categoryId">
                                            <option value="">SELECT CATEGORY</option>
                                            <% categories.forEach((cat, i)=> { %>
                                                <option value="<%= cat._id %>">
                                                    <%= cat.categoryName %>
                                                </option>
                                                <% })%>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-3 text-right control-label col-form-label">
                                        Subcategory
                                    </label>

                                    <div class="col-sm-9">
                                        <select class="form-control" name="subCategoryId" id="subCategoryId">
                                            <option value="">SELECT SUBCATEGORY</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="fname"
                                        class="col-sm-3 text-right control-label col-form-label">Extracategory
                                        Name</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="extraCategoryName" id="fname"
                                            placeholder="Extracategory Name Here">
                                    </div>
                                </div>

                            </div>
                            <div class="border-top">
                                <div class="card-body">
                                    <button type="submit" class="btn btn-primary">Add</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>

            </div>

            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Right sidebar -->
            <!-- ============================================================== -->
            <!-- .right-sidebar -->
            <!-- ============================================================== -->
            <!-- End Right sidebar -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <%- include('../footer') %>

            <script>
                let categoryId = document.querySelector('#categoryId');
                let subCategoryId = document.querySelector('#subCategoryId');

                categoryId.addEventListener('change', () => {
                    let category = categoryId.value;

                    fetch(`/extracategory/subcategory?categoryId=${category}`)
                        .then(res => res.json())
                        .then(data => {
                            subCategoryId.innerHTML = `<option value="">---select subcategory---</option>`;
                            data.forEach(subCat => {
                                let option = document.createElement('option');
                                option.innerHTML = subCat.subCategoryName;
                                option.setAttribute('Value', subCat._id);
                                subCategoryId.append(option);
                            })
                        })
                        .catch(err => console.log(err));
                })
            </script>