<%- include('../header') %>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg border-0 rounded-4">
                <div class="card-body p-4">

                    <h2 class="text-center mb-4 fw-bold">Add New Blog</h2>

                    <form action="/blog/insert-blog" method="POST" enctype="multipart/form-data">

                        <div class="mb-3">
                            <label class="form-label">Title</label>
                            <input type="text" name="title" class="form-control rounded-3" required>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Upload Image</label>
                            <input type="file" name="profileImage" class="form-control rounded-3">
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Author</label>
                                <input type="text" name="author" class="form-control rounded-3" required>
                            </div>

                            <div class="col-md-6 mb-3">
                                <label class="form-label">Category</label>
                                <input type="text" name="category" class="form-control rounded-3" required>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Short Description</label>
                            <input type="text" name="shortDesc" class="form-control rounded-3" required>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Full Description</label>
                            <textarea name="fullDesc" rows="5" class="form-control rounded-3" required></textarea>
                        </div>

                        <div class="d-grid">
                            <button class="btn btn-primary btn-lg rounded-3">
                                Add Blog
                            </button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../footer') %>