<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">

</head>

<body>
    <div class="app">
        <header>
            <a href="/">Add movie</a>
            <a href="/add">View movie</a>
        </header>
        <h1 class="app-title">🎬 Movie Dashboard</h1>

        <!-- Add Movie -->
        <div class="glass-card">
            <h3>Add New Movie</h3>

            <form action="/add-movie" method="post" enctype="multipart/form-data" class="grid">

                <input type="text" name="title" placeholder="Title" required>
                <input type="text" name="genre" placeholder="Genre" required>

                <input type="text" name="description" placeholder="Description" required>
                <input type="number" name="duration" placeholder="Duration" required>

                <input type="file" name="movieImg" class="full">

                <button class="primary-btn full">Add Movie</button>

            </form>
        </div>
    </div>
</body>

</html>